<!DOCTYPE html>
<html lang="en" ng-app="SubThrower">
<head>
  <meta charset="UTF-8">
  <title>Sub throwing weather app - The best weathering app everszxcv</title>
</head>
<body ng-controller="subThrowController">
  <p>Current Weather</p>
  <input type='number' ng-model="temperature" />
  <input type='number' ng-model="zip" />
  <button ng-click='getTempByZip(zip)'>Submit</button>
  <div>Temperature: {{temperature  | number:0}}</div>
  <div>Humidity: {{humidity | number:0}}%</div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="app.js"></script>
</body>
</html>